extends base

block title
     title= __('categories') + ' | ' + config.title
block content
  .categories-search-form
    input(id='local-search-input' placeholder='Search' type='text' name='q' results='0')
    div#local-search-result
  .categories
    h2= __('categories')
    != list_categories({show_count: theme.show_category_count})
  .categories-links
    h2= __('blogroll')
    - for (var i in theme.links)
      ul
      a(href=theme.links[i].url title=theme.links[i].title target='_blank') #{theme.links[i].title}

  include _partial/paginator.pug
