extends base-without-sidebar
block title
  title= page.title + ' | ' + config.title
block content
  .post
    h1.post-title= page.title
    .post-meta= page.date.format('ll')
      if theme.busuanzi == true
        // script(src='//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js', async)
        span#busuanzi_container_page_pv= ' | '
          span#busuanzi_value_page_pv
          span= ' ' + __('Hits')
    if page.toc
      div(class='clear')
        div(id='toc' class='toc-article')
          div(class='toc-title')= __('contents')
          != toc(page.content)
    .post-content
      != page.content
    if theme.shareto
      script(type='text/javascript', src=url_for(theme.js) + '/share.js' + '?v=' + theme.version, async)
      a.article-share-link(data-url='#{page.permalink}', data-id='#{page._id}', data-qrcode=qrcode(page.permalink))= __('shareto')

  if page.comments
    include _partial/comments
