.widget
  .widget-title
    i(class='fa fa-external-link')= ' ' + __('blogroll')
  - for (var i in theme.links)
    ul
    if theme.links[i].rel
      a(href=theme.links[i].url rel=theme.links[i].rel title=theme.links[i].title target='_blank') #{theme.links[i].title}
    else
      a(href=theme.links[i].url title=theme.links[i].title target='_blank') #{theme.links[i].title}


